.container
  .login-box
    .login-logo
      %b Fat Free
      CRM
    .login-box-body
      %p.login-box-msg
        = t(:password_intro)
      = form_tag(passwords_path, one_submit_only) do
        .form-group.has-feedback
          = text_field_tag 'email', nil, class: 'form-control', placeholder: t(:email)
        =submit_tag t(:reset_password), :id => "passwords_submit", :class => 'btn btn-primary btn-block btn-flat'